.footer {
    text-align: center;
    padding-bottom: 3rem;
    background-color: #343A40;
    color: #939597;
    .footer span {
        color: #DFE0E1;
    }
    .footer p {
        padding-bottom: 0.25rem;
    }
}
