.services-page-section-1 {
    text-align: center;
    background-color: #DC3C45;
}
.services-page-section-1 h2 {
    font-size: 3.5rem;
    font-weight: 800;
    color: #ffffff;
    padding: 1.5rem 0;
}
.services-page-section-1 p {
    font-size: 1.3rem;
    color: #ffffff;
    padding-bottom: 1rem;
}
// Section 2

.services-page-section-2 img {
    width: 100%;
}
.services-page-section-2 h3 {
    font-size: 1.5rem;
    color: #DC3C45;
    padding: 1.5rem 0;
}
.services-page-section-2 h4 {
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 2rem;
    padding-right: 2rem;
}
.services-page-section-2 p {
    font-size: 1.3rem;
    color: rgb(151, 148, 148);
    line-height: 1.3;
    padding-right: 2rem;
}
// Section 3

.services-page-section-3 {
    background-color: #F2F2F2;
}
.services-page-section-3 img {
    width: 5rem;
}
.services-page-section-3 h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 2rem;
}
.services-page-section-3 p {
    font-size: 1.3rem;
    color: rgb(161, 159, 159);
    text-align: center;
    padding: 2rem 0;
}
.services-page-section-3 hr {
    border: 1px solid rgb(223, 219, 219);
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.services-page-section-3 .flex-30 h3 {
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 2rem;
}
.services-page-section-3 .flex-30 p {
    text-align: left;
    font-size: 1.1rem;
    color: black;
}
.services-page-section-3 .flex-30{
    margin-top: 2rem;
}

// section 4 

.services-page-section-4 {
    background-color: #DC3C45;
}
.services-page-section-4 strong {
    color: #ffffff;
    font-weight: 600;
    font-size: 1.3rem;
}
.services-page-section-4 span {
    color: #ffffff;
    font-size: 1.2rem;
}
.services-page-section-4 .line {
    font-size: 3rem;
    color: #ffffff;
    padding: 0rem 1rem;
    margin-top: 1rem;
}
.services-page-section-4 .btn {
    background-color: #DC3C45;
    border: 1px solid #fff;
    color: #ffffff;
}

// section 5

.services-page-section-5 {
    text-align: center;
}
.services-page-section-5 h4 {
    font-size: 3rem;
    font-weight: 700;
    padding: 1.5rem 0;
}
.services-page-section-5 p {
    font-size: 1.3rem;
    color: #6b6969;
    padding-bottom: 5rem;
}
.services-page-section-5 h5 {
    font-size: 3rem;
    font-weight: 700;
    padding: 1.5rem 0;
}
.small-width {
    width: 5rem;
}
.width{
    width: 100%;
}
